@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body { 
  font-family: 'Cormorant Garamond', serif!important; 
}

p{
  font-weight: 400;
  font-size: 18px;
}

.small {
  width: 70px;
  height: 10px;
  background-color: #8d0809; 
  border: none;
  margin: 20px auto; 
  display: block;
}

.medium {
  width: 200px;
  height: 5px;
  background-color: #8d0809; 
  border: none;
  margin: 20px auto; 
  display: block;
}

.mainheadtitle{
  text-align: center;
  font-size: 32px; 
  font-weight: 400; 
  display: block;
}

.carousel-inner img {
  max-height: 500px;
  object-fit: contain;
  object-position: center;
}

.carousel-thumb {
  width: 80px;
  height: 120px;       
  object-fit: contain; 
  cursor: pointer;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.carousel-thumb:hover {
  opacity: 0.8;
}

.active-thumb {
  opacity: 1;
  border: 2px solid #8d0809;
}

.carousel-item img {
  max-height: 400px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .carousel-item .row {
    flex-direction: column;
  }
  
  .carousel-item .col-6 {
    width: 100%;
  }
}



